/* Custom fonts */
@font-face{
  font-family: MedievalSharp;
  src: url('../src/assets/fonts/MedievalSharp-Regular.ttf');
}

@font-face{
  font-family: Acme;
  src: url('../src/assets/fonts/Acme-Regular.ttf');
}



#titleText{
  text-align: center;
  font-family: "Acme";
  margin: 1rem 0;
}

a{
  text-decoration: none;
  color: #323232;
}

hr{
  border-top: 0.7rem solid #fac30f !important;
}


/* Colores de fondo y textos */
.skyBlue {
  background-color: #9BE8F5;
}

.redColor {
  background-color: #ED9C9C;
}

.yellowColor {
  background-color: #FAE5B8 ;
}

.skyBluePrice{
  color: #68D5E8;
}

.textColor {
  color: #323232;
}

.whiteColor {
  background-color: rgb(255, 255, 255);
}



/* CSS del Navbar */

#navbarConfig{
  padding: 0;
}

 .textConfig{
  font-size: 1.3rem;
  font-weight: 500;
}
 .backHover{
  border-radius: 10%;
}
.backHover:hover{
  background-color: #323232;
  color: #e4e4e4 !important;
}

.navbar-link.active {
  font-weight: 600;
  color: #323232!important;
  border: #323232 solid 1px;

}


/* CSS del header */

#header {
  margin-top: 0;
  padding: 6rem 0 5rem 0;
  background-image: url('./assets/img/Vivi-header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


#header .box {
  padding: 3rem 3rem;
  background: linear-gradient(90.21deg, rgba(0, 0, 0, 0.5) -5.91%, rgba(0, 0, 0, 0.5) 111.58%);
  margin: auto;
  text-align: center;
}

#header h1 {
  color: aliceblue;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  font-family: 'MedievalSharp', sans-serif !important
}

#header p {
  color: #e4e4e4;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}


/* CSS del Footer */

.titleConfig{
  font-size: 1.53rem;
  font-family: 'MedievalSharp', sans-serif !important;
  margin-top: 4rem;

}

.footer-text{
  text-align: center;
}

/* CSS de formulario register y login */


.registerLoginColor{
  border: #ED9C9C solid 2px;
  width: 20rem;
}

.registerLoginButton{
  width: 20rem;
  background-color: #9BE8F5;
  color: #323232;
  padding: 0;
  border: #9BE8F5;
}

.registerLoginButtonText{
  font-weight: 600;
  align-self: center;
  margin:auto;
  padding: 0.5rem;
}

.registerLoginInput{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerLoginInput2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginForm a {
  margin-top: 0.5rem;
  font-weight: 600;
  text-decoration:underline;
  color:#323232;
}


/* CSS cards home */
.title-acme {
    font-family: "Acme", sans-serif;
}

/* CSS Products */

.img {
  height: 12rem;
}



/* CSS del menu profile */

.textProfileTitle {
  font-family: 'Acme', sans-serif;
  text-align: end;
  font-size: 1.8rem;
  font-weight: 500;
}

.textProfile{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #323232;
}

.textProfile:hover{
  background-color:#f8d589;
  color: #323232;
}


#titleProfile{
  font-size: 2rem;
  text-decoration: underline;
  font-weight: 600;
}

.profileLink{
  background-color: #f8d589;
}

.adressColor{
  border: #ED9C9C solid 2px;
  width: 100%;
}

.chocoboImg{
  width: 3rem;
  height: 3rem;
}

/* CSS Nuevo producto */
.newPostColor{
  border: #ED9C9C solid 2px;
  width: 100%;
}

.textareaColor{
  border: #ED9C9C solid 2px;
  width: 100%;
  height: 100% !important;
}

/* CSS NotFound */

.moogleImg{
  width: 30rem;
  height: 30rem;
}

#notFound .titleNF{
  font-family: 'MedievalSharp',sans-serif;
}


/* CSS del carrito */

.inputCart{
  text-align: center;
  width: 2rem;
}

#cartCard {
  border:#f8d589 solid 2px;
}
.addCartButton {
    background-color: #9BE8F5;
    color: #323232;
    border: #9BE8F5;
  }
